.selector-for-some-widget {
    box-sizing: content-box;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    padding: 20px;
}

ul.pagination {
    justify-content: flex-end;
}

.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.navbar-expand-lg .navbar-collapse {
    flex-basis: auto;
    align-items: center;
    justify-content: space-between;
}