{% extends 'base.html' %}
{% block title %}Insert Page{% endblock %}
{% block content %}
<div class="main-wrapper">
    <div class="content-wrapper">
        <form class="shadow p-3 mb-5 bg-body rounded" action="{{url_for('insert_data')}}" method="POST">
            <div class="inner-form">
                <div class="mb-3 row">
                    <label for="product" class="col-sm-4 col-form-label">Product: </label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="product" name="product" placeholder="ex.OFF Lotion">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="manufacturer" class="col-sm-4 col-form-label">Manufacturer: </label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="manufacturer" name="manufacturer" placeholder="ex. Unilever">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="stocks" class="col-sm-4 col-form-label">Stocks: </label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="stocks" name="stocks" placeholder="ex. 299">
                    </div>
                </div>
                <div class="d-grid gap-2 col-12 mx-auto">
                    <input  class="btn btn-primary" type="submit" value="Add Product">
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}