{% extends 'base.html' %}
{% block title %}Login Page{% endblock %}
{% block content %}
<div class="main-wrapper">
  <div class="content-wrapper">
      <div class="form-wrapper">
        <div class="img-wrapper">
            <img class="img" src="/static/img/icon.png" >
        </div>
          <form action="{{ url_for('login') }}" method="post">
          <div class="msg">{{ msg }}</div>
                <div class="mb-3 row custom-row">
                    <input class="form-control" type="text" name="username" placeholder="Username" aria-label="default Username">
                </div>
                <div class="mb-3 row custom-row">
                    <input class="form-control" type="password" name="password" placeholder="Password" aria-label="default Password">
                </div>
                <div class="d-grid col-12 mx-auto">
                    <input type="submit" class="btn btn-primary" value="Sign In">
                </div>
          </form>
          <br />
          <p class="bottom">Don't have an account? <a class="bottom" href="{{url_for('register')}}"> Sign Up here</a></p>
      </div>
  </div>
</div>
    
{% endblock %}