{% extends 'base.html' %}
{% block title %}Register Page{% endblock %}
{% block content %}

<div class="main-wrapper">
    <div class="content-wrapper">
        <div class="form-wrapper">
            <div class="img-wrapper">
                <img class="img" src="/static/img/icon.png" >
            </div>
            <form action="{{ url_for('register') }}" method="post">
            <div class="msg">{{ livemessage }}</div>
            <div class="msg">{{ uname }}</div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                        <em>{{ message }}</em>
                    {% endfor %}
                </ul>
                {% endif %}
            {% endwith %}
                <div class="mb-3 row custom-row">
                    <input class="form-control" type="text" name="username" id="username" placeholder="Username" aria-label="default input example">
                </div>
                <div class="mb-3 row custom-row">
                    <input class="form-control" type="password" name="password" id="password" placeholder="Password" aria-label="default input example">
                </div>
                <div class="mb-3 row custom-row">
                    <input class="form-control" type="email" name="email" id="email" placeholder="your-email@email.com" aria-label="default input example">
                </div>
                <div class="d-grid col-12 mx-auto">
                    <input type="submit" class="btn btn-primary" value="Sign Up"></br>
                </div>
                
            </form>
            <p class="bottom">Already have an account? <a class="bottom" href="{{url_for('login')}}"> Sign In here</a></p>
        </div>
    </div>
</div>
{% endblock %}